<article>
	<h3> Hurricanes </h3>
		<p> Hurricanes can happen on any shoreline and some of them travel inland too. Use these resources to make sure you are prepared.</p>
		<a href="https://www.ready.gov/hurricanes">Ready Hurricane Guide</a>
		<a href="https://www.redcross.org/get-help/how-to-prepare-for-emergencies/types-of-emergencies/hurricane.html">Red Cross Hurricane Guide</a>


	<h3> Earthquakes </h3>
		<
		<a href="https://www.fema.gov/earthquake-safety-home">FEMA Earthquake Guide</a>
		<a href="https://www.redcross.org/get-help/how-to-prepare-for-emergencies/types-of-emergencies/earthquake.html">Red Cross Hurricane Guide</a>


	<h3> Tornadoes </h3>
		<a href="https://www.ready.gov/tornadoes">Ready Tornado Guide</a>
		<a href="https://www.redcross.org/get-help/how-to-prepare-for-emergencies/types-of-emergencies/tornado.html">Red Cross Tornado Guide</a>



	<h3> Floods </h3>
		<a href="https://www.ready.gov/floods">Ready Flood Guide</a>
		<a href="https://www.redcross.org/get-help/how-to-prepare-for-emergencies/types-of-emergencies/flood.html">Red Cross Flood Guide</a>


	<h3> Winter Storms </h3>
		<a href="https://www.ready.gov/winter-weather">Ready Winter Storm Guide</a>
		<a href="https://www.redcross.org/get-help/how-to-prepare-for-emergencies/types-of-emergencies/winter-storm.html">Red Cross Winter Storm Guide</a>


	<h3> Weather Tracking </h3>
		<a href="https://weather.com/">The Weather Channel</a>
</article>	