<article>
	<h3> About The Challenge </h3>
	<p> Natural disasters are something that can have an impact on anyone at any time, often turning the victim's life upside down. JP Morgan Chase has challeneged hackers to create a project that aids in releif of natural disasters. One of the specific points of relief is getting resources to victims. </p>
	<h3> About The Project </h3>
	<p> A smart matching algorhithm is used to match three important groups of people together; victims, shelters and suppliers. It is important that victims are able to know what resources are around them and shelters and suppliers need to interact to help everyone stay safe. This project helps this happen. </p> 
</article>

