// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
    * {
        box-sizing: border-box;
    }
    body {
      font-family: Ariel;
    }

    header {
      background-image: image_url("hurricane.png") ;
      padding: 30px;
      text-align: center;
      color:white;
    }
    .topnav {
      overflow: hidden;
      background-color: #ccc;
      color: white;
      display: flex;
      justify-content: center;
    }
    
    .topnav a {
      float: left;
      color: black;
      text-align: center;
      padding: 16px 18px;
      text-decoration: none;
      font-size: 18px;
    }

    .topnav a:hover{
      background-color: #666;
      color: white;
    }

    .topnav a:active {
      background-color: #666;
      color: white;
    }
  	footer {
  		background-image: image_url("hurricane.png");
  		padding: 10px;
  		text-align: center;
  		color: white;
  		position: absolute;
  		right: 0;
  		left: 0;
  		bottom: 0;
  		padding: lrem;
  	}
 	
 	article {
 		text-align: center;
 		background-color: white;
 		padding: 15px;
 	}